.my_order {
  background-color: #ffffff;
  padding-top: 278px;

  .nav_bar {
    .nav_bar_left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 160px;
      height: 60px;
      margin-left: 20px;
      border-radius: 30px;
      border: solid 1PX #d2d2d2;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 38px;
        background-color: #ffffff;
      }

      .nav_bar_home {
        width: 32px;
        height: 32px;

        .taro-img__mode-scaletofill {
          vertical-align: top;
        }
      }
    }
  }

  .my_order_tab {
    position: fixed;
    top: 88px;
    left: 0;
    width: 100%;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 0px 10px 15px 0px rgba(164, 164, 164, 0.17);
    z-index: 1;

    .my_order_sort {
      box-sizing: border-box;
      width: 100%;
      height: 120px;
      padding: 30px 80px 24px;

      .at-tab-bar {
        width: 100%;
        height: 100%;
        padding: 0;
        border: solid 1PX #ff093c;
        border-radius: 34px;
        font-size: 30px;

        .at-badge {
          .at-tab-bar__title {
            line-height: 62px;
          }
        }

        &::after {
          display: none;
        }

        .at-tab-bar__item {
          box-sizing: border-box;
          padding: 0;

          &:nth-child(1) {
            border-radius: 34px 0px 0px 34px;
            border-right: solid 1PX #ff093c;
          }

          &:nth-child(3) {
            border-radius: 0 34px 34px 0px;
            border-left: solid 1PX #ff093c;
          }

          .at-badge {
            .at-tab-bar__title {
              padding: 0;
            }
          }
        }

        .at-tab-bar__item--active {
          box-sizing: border-box;
          background-color: #ff093c;
        }
      }
    }

    .my_order_status {
      width: 100%;
      height: 70px;
      background-color: aquamarine;

      .at-tab-bar {
        width: 100%;
        height: 100%;
        padding: 0;
        line-height: 70px;

        &::after {
          display: none;
        }

        .at-tab-bar__item {
          padding: 0;
        }

        .at-tab-bar__item--active {
          position: relative;
          font-weight: bold;

          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 4px;
            background-color: #ff1b2e;
            border-radius: 2px;
          }
        }
      }
    }
  }

  .my_order_operated,
  .my_order_group_buy,
  .my_order_gift {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 24px;

    .my_order_operated_flex,
    .my_order_group_buy_flex,
    .my_order_gift_flex {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .my_order_operated {
    .my_order_operated_item {
      box-sizing: border-box;
      width: 100%;
      min-height: 385px;
      padding: 26px 20px;
      margin: 20px 0;
      background-color: #ffffff;
      box-shadow: 0px 0px 15px 0px rgba(39, 39, 39, 0.17);
      border-radius: 10px;

      .my_order_operated_flex {
        .my_order_operated_hospital {
          position: relative;
          font-size: 26px;

          &::after {
            content: "";
            position: absolute;
            top: 4px;
            right: -22px;
            width: 8px;
            height: 14px;
            background: url(https://qiniu.hongmenpd.com/H5/images/jiantou.png) no-repeat;
            background-size: cover;
          }

          .hospital_img {
            width: 30px;
            height: 30px;
            margin-right: 18px;
            background-color: #ff0000;
            border-radius: 50%;
            vertical-align: middle;
          }
        }
      }

      .my_order_operated_content {
        display: flex;
        flex-direction: row;
        margin: 28px 0;

        .my_order_operated_img {
          min-width: 180px;
          width: 180px;
          height: 180px;
          margin-right: 20px;
          background-color: #f4f4f4;
        }

        .my_order_operated_name {
          font-size: 26px;
          line-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          word-break: break-all;
          /*! autoprefixer: off */
        }

        .my_order_operated_time {
          margin-top: 10px;
          font-size: 20px;
          color: #999999;
          ;
        }

        .my_order_operated_bottom {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          color: #999999
        }
      }

      .operated_payment_method {
        margin: 0 0 26px 120px;
        font-size: 20px;
        color: #333333;

        .payment_method_text {
          display: inline-block;
          background-color: #ffeeee;
          border: solid 1px #ff0000;
          padding: 6px;
          font-size: 18px;
          // line-height: 20px;
          color: #ff093c;
        }
      }

      .my_order_operated_price {
        text-align: right;
        font-size: 24px;
        color: #2a2a2a;

        .operated_price {
          font-size: 30px;
        }
      }

      .my_order_operated_btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .my_order_operated_pay_btn {
          width: 144px;
          height: 38px;
          margin: 30px 0 0 40px;
          border: solid 1PX #999999;
          border-radius: 19px;
          font-size: 24px;
          line-height: 38px;
          color: #333333;
        }
      }
    }
  }

  .my_order_group_buy {
    color: #2a2a2a;

    .my_order_group_buy_item {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 350px;
      padding: 30px 20px;
      margin: 20px 0;
      background-color: #ffffff;
      box-shadow: 0px 0px 15px 0px rgba(39, 39, 39, 0.17);
      border-radius: 10px;

      .my_order_group_buy_flex {
        .order_numbering {
          position: relative;
          color: #000000;

          &::after {
            content: "";
            position: absolute;
            top: 4px;
            right: -25px;
            width: 8px;
            height: 14px;
            background: url(https://qiniu.hongmenpd.com/H5/images/jiantou.png) no-repeat;
            background-size: cover;
          }
        }
      }

      .my_order_group_buy_item_content {
        display: flex;
        margin: 30px 0;
        line-height: 30px;

        .my_order_group_buy_img {
          min-width: 180px;
          width: 180px;
          height: 180px;
          margin-right: 20px;
          background-color: #f4f4f4;
        }

        .my_order_group_buy_item20 {
          font-size: 20px;
          color: #999999;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          word-break: break-all;
          /*! autoprefixer: off */
        }
      }

      .my_order_group_buy_price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .my_order_group_buy_btn {
          width: 124px;
          height: 38px;
          margin: 30px 0 0;
          border: solid 1PX #999999;
          border-radius: 19px;
          font-size: 24px;
          line-height: 38px;
          color: #333333;
        }
      }
    }
  }

  .my_order_gift {
    color: #000000;

    .my_order_gift_item {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 286px;
      padding: 28px 24px;
      margin: 20px 0;
      background: #ffffff;
      box-shadow: 0px 0px 15px 0px rgba(39, 39, 39, 0.17);
      border-radius: 10px;

      .my_order_gift_flex {
        &:nth-child(2) {
          align-items: flex-start;
          width: 100%;
          height: 50px;
          padding: 30px 0;
          margin: 27px 0 30px;
          border-top: solid 2px #f6f6f6;
          border-bottom: solid 2px #f6f6f6;
        }

        .my_order_gift_content {
          line-height: 35px;
        }

        .my_order_gift20 {
          font-size: 20px;
          color: #999999;
        }

        .my_order_gift_price {
          display: flex;
          flex-direction: row;
          align-items: center;

          .my_order_gift_btn {
            width: 124px;
            height: 38px;
            margin-left: 26px;
            border: solid 1PX #999999;
            border-radius: 19px;
            font-size: 24px;
            line-height: 38px;
            color: #333333;
          }
        }
      }
    }
  }

  .no_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    font-size: 24px;
    color: #707070;

    .no_order_img {
      width: 80px;
      height: 80px;
      margin: 10px 0;
    }
  }
}
