#app {
    height: 100%;
  }
.gift_con {
  background-image: url("https://qiniu.hongmenpd.com/H5/images/operator-min2.png");
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  height: 1624px;
  .operator_center {
      padding-top: 490px;
      color: #CE8609;
      font-size: 48px;
      text-align: center;
      .spree_price {
          font-size: 78px;
      }
      .spree_contain_package {
        font-size: 28px;
        margin-top: 20px;
      }
  }
  .at-button {
    width: 540px;
    height: 140px;
    background: url("https://qiniu.hongmenpd.com/H5/images/operator_btn-min.png") no-repeat;
    background-size: cover;
    border: none;
    margin-top: 480px;
  }
}