#app {
  background-color: #f6f6f6;
  line-height: 1;
}

.my {
  padding-top: 88px;

  .my_content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 350px;
    padding: 60px 20px;
    margin-bottom: 130px;
    background: url(https://qiniu.hongmenpd.com/H5/images/my_bg.png) no-repeat;
    background-size: cover;

    .my_info {
      font-size: 36px;
      color: #ffffff;

      .my_info_avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        margin-right: 50px;
        background: #ffffff;
        border-radius: 50%;
      }
    }

    .my_order {
      box-sizing: border-box;
      position: absolute;
      bottom: -110px;
      left: 50%;
      transform: translateX(-50%);
      width: 94%;
      height: 250px;
      padding: 26px;
      background-color: #ffffff;
      border-radius: 8px;

      .my_order_top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 30px;
        color: #010101;

        .my_all_order {
          font-size: 24px;
          color: #4c4c4c;
        }
      }

      .at-grid {
        .at-grid__flex {
          .at-grid__flex-item {
            .at-grid-item__content {
              .at-grid-item__content-inner {
                .content-inner__icon {
                  .content-inner__img {
                    width: 44px;
                    height: 40px;
                  }
                }

                .content-inner__text {
                  font-size: 24px;
                  color: #666666;
                }
              }
            }
          }
        }
      }
    }
  }

  .my_gift_package {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 94%;
    height: 82px;
    margin: 20px auto;
    padding: 0 28px;
    background: linear-gradient(45deg, #ffe8b7 0%, #e9ce93 100%);
    border-radius: 8px;
    font-size: 28px;
    color: #885E24;

    .my_gift_package_img {
      width: 24px;
      height: 24px;
      margin-right: 28px;
    }

    .at-button {
      width: 120px;
      height: 40px;
      margin: 0;
      border: solid 1PX #885E24;
      font-size: 22px;
      line-height: 40px;
      color: #885E24;
    }
  }

  .at-list {
    width: 94%;
    margin: auto;
    border-radius: 8px;

    .at-list__item {
      font-size: 30px;
      color: #010101;
    }
  }
}